.goodness{
  .el-form-item {
    margin-bottom: -1px;
  }
}
.goodnessTag{
  width:567px;
  height:54px;
  position: absolute;
  right: 40px;
  z-index: 9999;
  display: none;
  img{
    width: 100%;
  }
}
.goodnessTagBl{
  display: block;
}
  .padding{
    padding-top: 32px;
  }
  .width360{
    width: 360px;
  }

  .upload{
    display: inline-block;
  }
  .justIlook{
    position: absolute;
    left: 79px;
    top: 3px;
    font-size:12px;
    color:#5e6d82;
    letter-spacing:0;
    line-height:12px;
  }
  .justIlook2{
    position: absolute;
    left: 475px;
    top: 2px;
    font-size:12px;
    color:#5e6d82;
    letter-spacing:0;
    line-height:12px;
  }
.toButton{
  position: fixed;bottom:0px;left: 0px;
  background-color:rgba(255,255,255,0.2);
  box-shadow:0 -2px 4px 0 rgba(64,88,122,0.10);
  width:100%;
  height: 68px;
  display: inline-block;
  padding-top: 15px;
  padding-left: 270px;
}
  .imgdele{
    cursor: pointer;
    width: 30px;
    height: 36px;
    display: inline-block;
    font-size:12px;
    color:#f44c4c;
  }
.zijikejian{
  width: 100%;
  margin-bottom: 15px;
  img{
    width: 100%;
  }
}
  .ques{
    width: 16px;
    position: absolute;
    cursor: pointer;
    right:-16px;
    top:31px;
    .tips-txt{
      font-size:12px;
      color:#ffffff;
    }
    img{
      width: 16px;
    }
  }
  .tong{
    background:#40587a;
    border-radius:2px;
    width:88px;
    height:36px;
    font-size:14px;
    color:#ffffff;
    position: absolute;
    cursor: pointer;
    right: 16px;
    top: 25px;
  }
  .edit-page{
    //height: 1331px;
    float: left;
    //background: white;
    //padding-bottom: 400px;
    .back-tag{
      font-size: 14px;
      color: #20a0ff;
      line-height: 14px;
      cursor: pointer;
      i{
        margin-right:6px;
        font-size: 10px;
      }
    }
    .main-box{
      width:1263px;
      margin-top: 24px;
      background: #fff;
      height: 108%;
      position: relative;
      display: inline-block;
    }
    .left-wrap{
      float:left;
      height: 100%;
      margin:23px 0 0 24px;
      width: 881px;
    }

    .item-block{
      width: 100%;
      background:#f9fafc;
      padding:32px 64px 10px;
      margin-top:16px;
      .block-tt-line{
        padding:0;
        margin:0;
        span{
          display: inline-block;
          vertical-align: middle;
        }
        .b-title{
          text-align: center;
          height: 40px;
          line-height: 40px;
          width:120px;
          font-size:16px;
          color:#1f2d3d;
          background:#e5e9f2;
          border-radius:100px;
        }
        .b-line{
          height: 1px;
          margin-left:2px;
          margin-right:2px;
          background:#e0e6ed;
          width:584px;
        }
        .b-hander{
          font-size:16px;
          color:#009eff;
          cursor: pointer;
        }
      }
      .block-info{
        height: 16px;
        line-height: 16px;
        font-size: 14px;
      }
      .f-title{
        color:#5e6d82;
        line-height: 38px;
        height: 38px;

      }
      .f-name{
        color:#475669;
        margin-left: 15px;
        text-decoration: underline;
      }
      .del-btn{
        display: inline-block;
        height: 15px;
        line-height: 15px;
        margin-left: 6px;
        margin-right: 6px;
        color: red;
        cursor: pointer;
      }

      .block-cc-file{
        margin-top: 58px;
        height: 50px;
      }
      .block-cc-pro{
        margin-top: 32px;
        height: 38px;

        .f-tips{
          font-size:12px;
          color:#5e6d82;
          height: 38px;
          i{
            display: block;
          }
        }
      }
      .block-cc-other{
        margin-top: 22px;
        .solt-btn{
          font-size:14px;
          color:#009eff;
          line-height:14px;
          cursor: pointer;
        }
        .f-title{
          overflow: hidden; /*自动隐藏文字*/
          text-overflow: ellipsis;/*文字隐藏后添加省略号*/
          white-space: nowrap;/*强制不换行*/
          max-width: 180px;
        }

      }
      .block-from{
        margin-top: 32px;
        height: 62px;
        .from-left{
          float: left;
        }
        .from-right{
          float: left;
          margin-left: 32px;
          position: relative;
        }
        .ques{
          width: 16px;
          position: absolute;
          left:calc(~"100% + 15px");
          top:36px;
          .tips-txt{
            font-size:12px;
            color:#ffffff;
          }
          img{
            width: 16px;
          }
        }
        .from-title{
          font-size:14px;
          color:#5e6d82;
          line-height:14px;
          .sec-from-title{
            display: inline-block;
            margin-left: 4px;
            font-size:12px;
            line-height:12px;
          }
        }
        .from-inp{
          margin-top: 12px;
          width:360px;
        }
      }
      .radios-group{
        .el-radio{
          .el-radio__inner{
            width:16px;
            height: 16px;
            margin-top: -1px;
          }
          .el-radio__label{
            font-size: 13px;
            margin-right: 30px;
          }
        }
      }
    }


    .right-wrap{
      transition: all 0.5s;
      position: fixed;
      /*    left:1150px;*/
      left:921px;
      top: 153px;
      //height: 100%;
      /*margin-top: 24px;
      margin-left: 31px;*/
      width:280px;
      .command-box{
        background:#f9fafc;
        border-radius:2px;
        width:100%;
        height:79px;
        padding:12px 18px;
        .command-title{
          font-size:14px;
          color:#5e6d82;
          line-height:14px;
          .command-val{
            display: inline-block;
            margin-left: 5px;
            color:#009eff;
          }
        }
        .command-title-sec{
          margin-top: 8px;
          font-size:12px;
          color:#c0ccda;
          line-height:12px;
        }
        .command-progress{
          position: relative;
          margin-top: 14px;
          .progress-bg{
            width:100%;
            height: 7px;
            background: #c0ccda;
            border-radius: 5px;
          }
          .progress-fg{
            height: 7px;
            border-radius: 5px;
            background: #40587a;
            position: absolute;
            left:0;
            top:0;
            z-index: 2;
          }
        }
      }
      .check-block{
        padding-left: 30px;
        height: 51px;
        line-height: 51px;
        cursor: pointer;
        .block-icon{
          display: inline-block;
          vertical-align: middle;
          img{
            height: 14px;
          }
        }
        .block-tlt{
          font-size:14px;
          color:#8492a6;
          line-height:14px;
          margin-left: 32px;
          margin-top: -1px;
          position: relative;
          .tlt-tips{
            width: 100px;
            position: absolute;
            top:20px;
            left:0;
            font-size:12px;
            color:#f44c4c;
            line-height:12px;
          }
        }
        .check-flag{
          width: 36px;
          text-align: center;
          margin-right: 10px;
          float:right;
          img{
            width: 14px;
          }
          .flag-txt{
            font-size:12px;
            color:#c0ccda;
            line-height:14px;
          }
        }
        &:hover{
          background:#e5e9f2;
        }
      }
      .checked{
        .block-tlt{
          color:#009eff;
        }
        .check-flag{
          img{
            // border:1px solid #eee;
            // background:rgba(64, 88, 122, 0.2);
          }
        }
      }
      .cur-block{
        background:#e5e9f2;
      }
      .bot-btn{
        margin-top: 30px;
        .el-button{
          width:280px;
          height: 60px;
          background:#e8f5ff;
          border:1px solid #bfe4ff;
          border-radius:2px;
          font-size:20px;
          color:#009eff;
        }
      }
    }
    .el-input__inner{
      border-radius: 2px !important;
    }
  }

