#research{
  .el-tabs__header{
    margin: 0px;
  }
  .el-tab-pane{
    //margin-top: -30px;
  }
  .line2{
    background: #eff2f7;
    width: 796px;
    height: 1px;
    margin: 0 auto
  }
  .line2:last-child{
    background: none;
  }
  .el-col-8{
    background: #ffffff;
  }
  .cell{
    font-weight: normal;
    font-size: 12px;
    padding-right:18px;
  }
  .el-dialog__header{
    padding-top: 0px;
  }
  .el-dialog__headerbtn{
    position: absolute;
    top: 0px;
    right: -30px;
    transform: scale(1.5);
  }
  .el-dialog__close{
    font-weight: normal;
    color:#ffffff;
  }
  .el-dialog__body{
    padding: 0px;
  }
  .dialog{
          width: 893px;
          .contain-position{
            position: absolute;
            top:-60px;
            left: 0px;
            background:#40587a;
            width:893px;
            height:60px;
            p{
              line-height: 60px;
              font-size:18px;
              color:#ffffff;
              margin-left: 25px;
              span{
                font-weight: bold;
              }
              .button{
                margin: 12px 16px;
                background:#20a0ff;
                border-radius:2px;
                width:88px;
                height:36px;
                color:#ffffff;
              }
            }
          }
          .contain-inner{
            background:#ffffff;
            .item-lists1{
              .item2{
                background:#f9fafc;
                border-radius:2px;
                width:844px;
                margin: 25px 25px 16px 24px ;
                padding: 26px 24px 8px ;
                .title{
                  font-size:18px;
                  color:#1f2d3d;
                  line-height:18px;
                  height: 18px;
                  margin-bottom: 24px;
                }
                .portrait{
                  width: 80px;
                  height: 80px;

                  img{
                    width: 100%;
                  }
                }
                .portrait-right{
                  width: 671px;
                  margin-left: 13px;
                }
                .block{color:#e0e6ed}
                .block-title{
                  font-size:18px;
                  color:#4e4563;
                  line-height:20px;
                }
                .line1{margin: 0 10px;height: 18px;}
                .block-company{
                  font-size:14px;
                  color:#475669;
                  line-height:20px;
                  margin-right: 11px;
                }
                .el-tag{margin-right:8px;}
                .doc{font-size:14px;color:#475669;}
                .mid-tag{
                  border:1px solid #e6e6e6;
                  border-radius:20px;
                  height:24px;
                  line-height: 20px;
                  box-sizing: border-box;
                  margin-right:11px;
                  text-align: center;
                  padding:0 10px;
                  font-size: 12px;
                  color: #8492a6;
                  display: inline-block;
                }
                .big-tag{
                  font-size:14px;
                  color:#8492a6;
                  text-align:left;
                }
                .split{
                  height: 14px;
                  line-height: 14px;
                  color:#e0e6ed;
                  // margin:0 10px;
                }
                .tag-bottom{
                  font-size:12px;
                  color:#475669;
                  letter-spacing:0;
                  line-height:12px;
                  margin-right: 20px;

                }
                .url{font-size:12px;
                  color:#475669;
                  letter-spacing:0;
                  img{margin-right: 5px;}
                }
                .linewidth{background:#e6e6e6;
                  width:784px;
                  height:1px;
                  margin: 20px 0 12px;
                }
                .file{
                  font-size:12px;
                  color:#5e6d82;
                  line-height:20px;
                  width: 784px;
                  margin-bottom: 15px;
                }
              }

              .item{
                background:#f9fafc;
                border-radius:2px;
                width:844px;
                margin: 8px 25px 8px 24px ;
                padding: 26px 24px 24px;
                /*          .el-tabs__content{

                          }*/
                .block{

                  width: 784px;
                  .tag-bottom{
                    font-size:12px;
                    color:#475669;
                    letter-spacing:0;
                    line-height:12px;
                    margin-right: 20px;
                  }
                  .content{
                    height: 43px;
                    font-size:14px;
                    background: #ffffff;
                    border:1px solid #e0e6ed;
                    border-bottom: none;
                    border-right: none;

                    line-height: 41px;
                  }
                  .left{
                    color:#5e6d82;
                    text-align: center;
                    background:#eff2f7;
                    height: 100%;
                  }
                  .right{
                    color:#2f3c4b;
                    padding-left: 12px;
                    width: 269px;
                    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
                  }
                  .hei{
                    height:100%;
                    overflow:hidden;
                    padding-bottom:9999px;
                    margin-bottom:-9999px;
                    vertical-align:middle;
                    line-height: 100px;
                    border: 1px solid #e0e6ed;

                  }
                  .hei2{
                    min-height: 100px;
                  }
                  .inner{
                    width: 392px;
                    p{width: 246px;}
                    .img{
                      width: 60px;
                      height: 60px;
                      margin-right: 12px;
                      background: #ffffff;
                      overflow: hidden;
                      img{width: 100%}
                    }
                    .type{
                      font-size:16px;
                      color:#333333;
                      span{margin-left: 24px;}
                    }
                    .sec{
                      font-size:12px;
                      display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
                      width:272px;
                      height: 36px;
                      margin-top: 44px;
                      margin-bottom: 24px;
                    }
                  }
                  .rz-details{
                    margin-top: 36px;
                    margin-bottom:16px;
                    background: #fff;
                    border: 1px solid #e0e6ed;
                    border-radius:3px;
                    height:112px;
                    .rz-detail{
                      float:left;
                      width:33.3%;
                      text-align: center;
                      padding-top:30px;

                    }

                    .det-title{
                      font-size:16px;
                      color:#475669;
                      line-height:16px;
                    }
                    .det-info{
                      font-size:22px;
                      margin-top: 12px;
                      color:#1f2d3d;
                      line-height:22px;
                    }
                  }

                }
                .title{
                  font-size:18px;
                  color:#1f2d3d;
                  line-height:18px;
                  height: 18px;
                  margin-bottom: 24px;
                }
                .portrait{
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
                  overflow: hidden;
                  display: inline-block;
                  img{
                    width: 100%;
                  }
                }
                .portrait-right{
                  width: 653px;
                  margin-left: 13px;
                  padding-bottom: 20px;
                  .doc{
                    width: 660px;font-size:12px;color:#475669;margin-top: 5px;line-height: 20px;
                  }
                  .bloack-right{
                    font-size:12px;
                    color:#5e6d82;
                    padding-right: 121px;
                  }
                  .block-title{
                    font-size:18px;
                    color:#4e4563;
                    line-height:20px;
                    padding-right: 7px;
                  }
                  .block-company{
                    font-size:14px;
                    color:#475669;
                    line-height:20px;
                    padding-right: 7px;
                  }
                }
                .v-progress{
                  display: inline-block;
                  position: relative;
                  width: 12px;
                  span{
                    position: absolute;
                  }
                  .circle{
                    border:1px solid #e0e6ed;
                    border-radius:20px;
                    width:12px;
                    z-index: 2;
                    background: #f9fafc;
                    height:12px;
                  }
                  .circle-s{
                    top:25px;
                    left:0;
                  }
                  .circle-c{
                    top:65px;
                  }
                  .circle-e{
                    bottom: 67px;
                    left:0;
                  }
                  .v-line{
                    height: 27px;
                    z-index: 1;
                    width:1px;
                    background: #e0e6ed;
                    left:5.5px;
                  }
                  .v-line-1{
                    top:37px;
                  }
                  .v-line-2{
                    top:77px;
                  }
                }
                .v-progress-table{
                  display: inline-block;
                  width: 719px;
                  vertical-align: top;
                  /*        margin-left:30px;*/
                  line-height: 60px;
                  .v-progress-txt{
                    font-size:14px;
                    height: 40px;
                    line-height: 40px;
                  }
                  .pro-txt-1{
                    color:#99a9bf;
                    margin-left: 50px;
                    width: 180px;
                    display: inline-block;
                  }
                  .pro-txt-2{
                    color:#1f2d3d;
                    width: 250px;
                    display: inline-block;
                    margin-left: 0px;
                  }
                  .pro-txt-3{
                    color:#1f2d3d;
                    width: 100px;
                    display: inline-block;
                  }

                }
                .border{
                  width: 785px;
                  background: #ffffff;
                  margin-bottom: 16px;
                  padding: 20px 0px 0px 24px;
                }
                .lists{
                  /*            span{
                                display: inline-block;
                              }*/
                }
                .list{
                  height: 50px;
                  line-height: 50px;
                  .radio_line{
                    width: 13px;
                    //height: 49px;
                  }
                  .radio{
                    opacity:0.4;
                    background:#40587a;
                    border-radius:20px;
                    width:12px;
                    height:12px;
                    box-shadow:6px 6px 0px #40587a inset;
                    position: relative;
                    display: inline-block;
                  }
                  .l-line{
                    height: 27px;
                    z-index: 1;
                    width:1px;
                    background: #e0e6ed;

                  }
                  .date{
                    margin-left:40px;
                    width: 159px;
                  }
                  .blood{
                    width: 113px;
                    font-size:14px;
                    color:#1f2d3d;
                    font-weight: 500;
                    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;display: inline-block;
                  }
                  .blood1{
                    width: 150px;
                    font-size:14px;
                    color:#1f2d3d;
                    font-weight: 500;
                    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;display: inline-block;
                  }
                  .main{
                    //margin-left: 100px;
                    width: 321px;
                    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;display: inline-block;cursor: pointer;
                  }
                  .blood2{
                    width: 535px;
                    line-height:20px;
                    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;display: inline-block;
                    margin-left: 77px;
                  }
                  .blood3{
                    width: 470px;
                    line-height:14px;
                    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;    display: inline-block;
                  }
                  .dateTag{
                    width: 85px;
                    display: inline-block;
                  }
                  .mian2{
                    /*margin-left: 40px;*/
                    width: 260px;
                    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
                    a{
                      text-decoration:underline;
                      color: #009eff;
                    }

                  }

                }
                .h-table{
                  background:#eff2f7;
                  width:797px;
                  height:40px;
                  font-size:12px;
                  color:#5e6d82;
                  letter-spacing:0;
                  line-height:40px;
                }
                .table1{
                  margin-left: 24px;
                  width: 215px;display: inline-block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:12px;
                }
                .table2{
                  width: 95px;font-size:12px;line-height: 18px;
                  div{
                    height: 75px;overflow: hidden;
                  }
                  i{
                    display: inline-block;
                    font-size:12px;
                    line-height: 16px;
                    width: 95px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
                  }
                }
                .table3{
                  width: 106px;display: inline-block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size:12px;
                }
                .table4{
                  width: 63px;display: inline-block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size:12px;text-align: center;
                }
                .table5{
                  width: 100px;display: inline-block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size:12px;text-align: center;
                }
                .table6{
                  width: 190px;font-size:12px;line-height: 18px;
                  i{

                  }
                  .founder{
                    display: inline-block;line-height: 18px;height: 55px;overflow:hidden;
                  }
                }
                .table7{
                  width: 88px;display: inline-block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size:12px;text-align: center;
                }
                .m-table{
                  line-height: 101px;
                  height: 101px;
                  background: #ffffff;
                  /*           li{
                               height: 101px;
                             }*/
                  .table1{
                    margin-top: 20px;
                    .img{
                      width: 60px;
                      height: 60px;
                      background: #ffffff;
                      overflow: hidden;
                      img{width: 100%;}
                    }
                    .title2{
                      font-size:14px;
                      color:#1f2d3d;
                      //margin-top: 33px;
                      //margin-left: 32px;
                      line-height: 20px;
                      padding-left: 6px;
                      width: 124px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;

                    }
                    .bo{
                      margin-left: 5px;
                      font-size:12px;
                      color:#99a9bf;
                      //margin-left: 12px;
                      line-height: 18px;
                      width: 130px;
                      height: 33px;
                      white-space: normal;
                    }
                  }
                }


              }
            }
          }
        }
}
